.aciveLink{
    color: #fff;
    text-decoration: underline;
}

.link{
    display: flex;
    align-items: center;
    justify-content: center;
}

.aciveLink .text{
    border-bottom: 1px solid #fff;
    font-weight: 700;
}

.text{
    height: fit-content;
    text-align: base-line;
    font-weight: 400;
    line-height: 24px;
    width: fit-content;
    pointer-events: none;
    display: flex;
    text-align: center;
    margin: 0;
}
