@import '../../../assets/variables/sassVariables';

.movieListHeaderContainer{
    display: flex;
    justify-content: space-between;

    .leftSide,.rightSide{
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 12px;

        $height: 24px;

        .brand{
            height: $height;
            object-fit: contain;
        }

        .listTitle{
            font-size: 19px;
            font-weight: 700;
            line-height: $height;
            margin: 0;
            padding: 0;
            color: #fff;
        }

        .seeMore, .edit{
            color: $lightBlue;
            font-size: 13px;
            font-weight: 400;
            text-decoration: none;

            filter: brightness(100%);
            transition: all 0.3s;

            &:hover{
                filter: brightness(130.1%);
            }
        }

        .edit{
            border: none;
            background: transparent;
            padding: 0;
            margin: 0;
            width: fit-content;
            height: fit-content;
            cursor: pointer;
        }
    }

    margin: 0 48px 10px 48px;
}