
.navigation{
    padding-left: 0px;
    display: flex;
    flex-direction: column;
    flex-grow: 0;
    align-self: center;
    height: 100%;
    margin: -16px 0;
}

.browseResponsive{
    height: 100%;
    display: flex;
    align-items: center;
    color: white;
    cursor: pointer;
    width: fit-content;
}

.categoriesDropSection{
    position: absolute;
    top: 72px;
    left: 0;
    right: 0;
}   


.navigation .navigationItem .myNavLink, .dumbNavLink{
    color: white;
    text-decoration: none;
    text-align: start;
}

.navigation > ul{
    padding-left: 0;
    list-style-type: none;
    display: none;
    flex-direction: column;
    align-items: center;
    column-gap: 16px;
    position: absolute;
    top: 72px;
    left: 0;
    background-color: #252e39;
    z-index: 1000;
    width: 100%;
    margin: 0;
}

.navigation > ul a{
    height: 100%;
}

.navigation .navigationItem{
    height: 100%;
    width: 100%;
}

.myNavLink{
    display: flex;
    padding: 14px 0px 14px 0px;
}


.hamburger{
    display: flex;
}

.browseResponsive p{
    display: none;
}

.categoriesDropSection{
    display: none;
}

.myNavLink{
    justify-content: start !important;
    padding: 14px 20px 14px 20px !important;
}

.categorieBigScreenLink{
    display: none;
    align-items: center;
    cursor: pointer;
}
.categorieBigScreenLink p {
   
    margin: 0;
}

.categorieSmallScreenLink{
    display: inline;
}

@media(min-width: 400px){
    .navigation{
        padding-left: 40px;
        flex-grow: 1;
    }
    .browseResponsive p{
        display: flex;
    }
    

    .hamburger{
        display: none;
    }
}

@media(min-width: 1040px){
    
    .myNavLink{
        justify-content: center !important;
        padding: 0 !important;
    }

    .navigation > ul{
        flex-direction: row;
        display: flex !important;
        position: initial;
        background-color: transparent;
        margin: -16px 0;
        height: calc(100% + 32px);
        margin: -16px 0;

      
    }

    .categoriesItem:hover .categoriesDropSection{
        display: flex;
        cursor: initial;
    }

    .categorieBigScreenLink{
        display: flex;
    }

    
    .categorieSmallScreenLink{
        display: none;
    }

    .categoriesDropSection:hover{
        display: flex;
    }

    .browseResponsive{
        display: none;
    }
    

    .navigation .navigationItem{
        padding: 0;
        width: fit-content;
    }
}