@font-face {
  font-family: 'Amazon Ember';
  src: local('Amazon Ember'), url(./assets/fonts/Amazon_Typefaces_Complete_Font_Set_Mar2020/Amazon_Typefaces_Complete_Font_Set_Mar2020/Ember/AmazonEmber_Rg.ttf) format('truetype');
}

body{
  margin: 0;
  padding: 0;
  font-family: Amazon Ember,Amazon Arabic Ember,Arial,sans-serif!important;
}

*{
  box-sizing: border-box;
}